
.App {
  display: flex;
  background-color: #051D2B;
  height: 85vh;
}

.dash a{
  color: inherit;
  text-decoration: inherit;
}


.App-link {
  color: #61dafb;
}

/* img {
  height: 5rem;
  width: 5rem;
} */

.Nav {
  display: fixed;
  flex-direction: column;
  justify-content: space-evenly;
  margin-right: 2rem;
  padding-top: 2rem;
  background-color: #051D2B;
}

.Nav svg {
  height: 6rem;
  box-shadow: 1px 1px 1px black;
  width: 4rem;
}

.Members {
  display: flex;
  padding-bottom: 2rem;
}

.Members button{
  display: flex;
}

.dash {
  display: flex;
  width: 75%;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 5px 10px black;
  margin: 5px;
  margin-top: 1rem;
  padding: 3rem;
  height: 30rem;
  overflow-y:scroll;
  background-color: RGB(153,153,153);
}

.dashInventory {
  display: flex;
  flex-direction: column;
}

.Header {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 6rem;
  background-color: RGB(45,45,45);
  align-items: center;
  margin-right: 3rem;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                0px 8px 13px rgba(0,0,0,0.1),
                0px 18px 23px rgba(0,0,0,0.1);
}


.Header img {
  margin-left: 3rem;
  height: 5rem;
  width: 5rem;
}

.Footer--Container {
  background-color: RGB(45,45,45);
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4rem;
}

.Footer--Content {
  height: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 4rem;
}
.Footer--Content svg{
  font-size: 3rem;
}


.SignOut {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.active--inactive {
  display: flex;
  justify-content: flex-start;
}

.addMember {
  display: flex;

}

.Button--Container {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
}

.Button--Container button {
  display: flex;
  margin-left: 2rem;
  margin-right: 2rem;
}

.titleContainer {
  display: flex;
  justify-content: center;
  margin-top: auto;
}
.loginForm {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
} */

.loginForm button {
  width: 10%;
  text-align: center;
}

.addMemberForm {
  display: flex;
  justify-content: center;
}

.addForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.addForm label{
    float: left;
    text-align: left;
    margin-right: 15px;
    width: 100px;
  }

input {
  background: none;
}

.editForm {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.addFormList ul{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.MemberProfile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.MemberProfile button{
  width: 100%;
}