
.App {
  display: flex;
}

a{
  text-decoration: none;
}


.App-link {
  color: #61dafb;
}

img {
  height: 5rem;
  width: 5rem;
}

.Nav {
  display: fixed;
  flex-direction: column;
  justify-content: space-evenly;
  margin-right: 5rem;
  padding-top: 5rem;
}

.Nav svg {
  height: 6rem;
}

.Members {
  padding-top: 10px;
}

.Members button{
  display: flex;
  margin-left: 4rem;
}

.dash {
  display: flex;
  width: 75%;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 50px;
  box-shadow: 5px 10px #888888;
  margin: 5px;
  margin-top: 5rem;
  padding: 3rem;
  height: 30rem;
  overflow-y:scroll;
}

.dashInventory {
  display: flex;
  flex-direction: column;
}