
.App {
  display: flex;
  background-color: #051D2B;
  height: 85vh;
}

.dash a{
  color: inherit;
  text-decoration: inherit;
}


.App-link {
  color: #61dafb;
}

img {
  height: 5rem;
  width: 5rem;
}

.Nav {
  display: fixed;
  flex-direction: column;
  justify-content: space-evenly;
  margin-right: 2rem;
  padding-top: 2rem;
  background-color: #051D2B;
}

.Nav svg {
  height: 6rem;
  box-shadow: 1px 1px 1px black;
  width: 4rem;
}

.Members {
  display: flex;
  padding-bottom: 2rem;
}

.Members button{
  display: flex;
}

.dash {
  display: flex;
  width: 75%;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 5px 10px black;
  margin: 5px;
  margin-top: 1rem;
  padding: 3rem;
  height: 30rem;
  overflow-y:scroll;
  background-color: RGB(153,153,153);
}

.dashInventory {
  display: flex;
  flex-direction: column;
}

.Header {
  width: 100%;
  height: 6rem;
  background-color: RGB(45,45,45);
  align-items: center;
}

.Footer {
  background-color: RGB(45,45,45);
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  height: 4rem;
}

.Footer p{
  margin: 0;
}

.SignOut {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.active--inactive {
  display: flex;
  justify-content: flex-start;
}

.addMember {
  display: flex;

.Button--Container {
  display: flex;
  justify-content: space-around;
  padding: 1rem;

.Button--Container button {
  display: flex;
  margin-left: 2rem;
  margin-right: 2rem;
  
.titleContainer {
  display: flex;
  justify-content: center;
  margin-top: auto;
}
.loginForm{
  text-align: center;
}
.signupForm{
  text-align: center;
}